[submodule "public"]
	path = public
	url = git@github.com:justin-hayes/justin-hayes.github.io.git
	branch = master
[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/spf13/hyde.git
