[submodule "public"]
	path = public
	url = git@github.com:justin-hayes/justin-hayes.github.io.git
	branch = master
[submodule "themes/tale"]
	path = themes/tale
	url = git://github.com/justin-hayes/tale-hugo.git
